<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup><!--
    <connectionStrings>
      <add name="DBConnectionString" connectionString="server=127.0.0.1;port=3306;database=tpch;user=root;password=1024" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>-->
</configuration>
